.game-nav {
    display: flex;
    font-size: 24px;
}
.game-nav-content {
    flex-grow: 1;
    text-align: center;
}
.checkpoint {
    color: rebeccapurple;
}
.lives {
    color: green;
}
.link-bg {
    color: rgba(255, 255, 255, .5);
    background: rebeccapurple;
}
.game-img{
    width: 40px;
    height: 40px;
    border: solid rgba(83, 18, 18, 0.5);

}